:root {
    --black: black;
    --blue: blue;
    --gray: gray;
    --white: white;
    --lightblue: #007bff;
    --darkblue: #1a237e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;

}

/* Header Section */

header {
    background-color: var(--darkblue);

    nav {
        .nav-wrapper {
            height: 40px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .menu {

                a {
                    margin: 20px;
                    color: var(--white);

                }
            }

            .profile {
                margin: 10px;
                display: flex;
                align-items: center;
                color: var(--white);

                .profile-img {
                    margin: 10px;
                    height: 30px;
                    width: 30px;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
        }
    }
}

/* customer-menu2 Section */

.customer-menu2 {
    background-color: var(--lightblue);
    color: var(--white);
    overflow: hidden;
    height: 40px;

    .nav-wrapper2 {

        .menu2 {
            display: flex;
            list-style: none;
            justify-content: space-between;
            /* ใช้ align-items: center; แล้วทำไมไม่อยู่ตรงกลาง ต้องใช้ margin*/
            /* border: 1px solid yellow; */

            li {
                /* border: 1px solid red;  */
                padding: 10px 20px;

                a {
                    color: var(--white);
                    margin: 10px;
                }
            }
        }
    }
}

/* Bigname Section */

.bigname {
    height: 60px;

    .name {
        height: 60px;
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--darkblue);

        h1 {
            color: var(--white);
        }
    }
}

/* customer-menu2 Section */

.customer-menu3 {

    .container4 {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .add-box {
            margin-left: 50px;

            button {
                padding: 12px;
                background-color: var(--lightblue);
                border: none;
                color: white;
                font-size: 16px;
                border-radius: 4px;
                cursor: pointer;
            }
        }

        .search-box {
            margin-right: 50px;

            .search-bar {
                width: 200px;
                padding: 10px;
                font-size: 16px;
            }

            button {
                padding: 12px;
                background-color: var(--lightblue);
                border: none;
                color: white;
                font-size: 16px;
                border-radius: 4px;
                cursor: pointer;
            }
        }
    }
}

/* table Section */

.container5 {
    width: 1400px;
    height: 400px;
    margin: 0 auto;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

    table {
        width: 100%;
        border-collapse: collapse;

        thead {
            background: #f9f9f9;

            th {
                text-align: left;
                padding: 10px;
                border-bottom: 1px solid #ccc;

                span {
                    font-size: 12px;
                    margin-left: 5px;
                }
            }
        }
    }

    tbody td {
        padding: 12px 10px;
        border-bottom: 1px solid #ccc;
    }
}

.status-shipped,
.status-processing,
.status-complete {
    display: inline-block;
    min-width: 20px;
    text-align: center;
    padding: 5px;
    font-size: 14px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color:var(--black);
}

.status-shipped {
    background-color: red;
}

.status-processing {
    background-color: #ffa726;
}

.status-complete {
    background-color: green;
}