:root {
    --black: black;
    --blue: blue;
    --gray: gray;
    --white: white;
    --lightblue: #007bff;
    --darkblue: #1a237e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

/* Header Section */

header {
    background-color: var(--darkblue);

    nav {
        .nav-wrapper {
            height: 40px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .menu {

                a {
                    margin: 20px;
                    color: var(--white);

                }
            }

            .profile {
                margin: 10px;
                display: flex;
                align-items: center;
                color: var(--white);

                .profile-img {
                    margin: 10px;
                    height: 30px;
                    width: 30px;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
        }
    }
}

/* customer-menu2 Section */

.customer-menu2 {
    background-color: var(--white);
    overflow: hidden;
    height: 40px;

}

/* Bigname Section */

.bigname {
    height: 60px;

    .name {
        height: 60px;
        width: 22%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--darkblue);

        h1 {
            color: var(--white);
        }
    }
}

/* name-job-orders Section */

.name-job-orders {
    width: 1400px;
    height: 100px;
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

    h2 {
        margin-left: 200px;
    }

    input[type="text"] {
        width: 500px;
        height: 30px;
        padding: 10px;
        font-size: 16px;
        border-radius: 8px;
        margin-left: 100px;
        padding: 8px;
        background: var(--white);
        border: 1px solid #ccc;


    }
}

/* pr-details Section */

.pr-details {
    background-color: white;
    width: 1400px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    h2 {
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: bold;
    }

    .date-group {
        display: flex;
        gap: 20px;

        .form-group {
            margin-bottom: 15px;

            label {
                display: block;
                margin-left: 20px;
                margin-bottom: 6px;
                font-weight: bold;
            }
        }
    }

    select,
    input[type="date"],
    input[type="text"] {
        width: 300px;
        padding: 10px;
        border: none;
        margin-left: 20px;
        background-color:var(--white);
        border-radius: 5px;
        font-size: 14px;
        border: 1px solid #ccc;
    }

    table {
        width: 100%;
        margin-top: 20px;
        border-collapse: collapse;

        th,
        td {
            border: 1px solid #000;
            text-align: center;
            padding: 10px;
        }
    }

    .button-group {
        margin-top: 20px;
        display: flex;
        justify-content: flex-end;
        gap: 10px;

        .print,
        .refresh {
            padding: 10px 20px;
            border: none;
            border-radius: 6px;
            cursor: pointer;
            font-weight: bold;
            font-size: 14px;
        }

        .print {
            background-color: #007bff;
            color: white;
        }

        .refresh {
            background-color:var(--lightblue);
            font-size: 16px;
        }
    }
}

/* bottom button Section */

.container5 {
    height: 40px;
    width: 1400px;
    margin: auto;
    align-items: center;
    margin-bottom: 10px;

    .wrapper3 {
        display: flex;
        justify-content: flex-end;

        .cancel-box {

            button {
                padding: 12px;
                background-color: var(--gray);
                border: none;
                color: white;
                font-size: 16px;
                border-radius: 4px;
                cursor: pointer;
                margin-right: 20px;
            }
        }

        .add-box {

            button {
                width: 70px;
                padding: 12px;
                background-color: var(--lightblue);
                border: none;
                color: white;
                font-size: 16px;
                border-radius: 4px;
                cursor: pointer;
                margin-right: 20px;
            }
        }
    }
}