body {
  font-family: Arial;
  padding: 20px;
}

.group {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
}

.group-header {
  margin-bottom: 8px;
}

.perm-item {
  margin-left: 20px;
}